:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  margin-top: 20%;
  margin-bottom: 20%;
  max-width: 90%;
  color: #f2f2f2;
  font-family: "Lexend Deca";
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 3rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  overflow: hidden;
}

.container h1 {
  font-family: "Big Shoulders Display";
  font-size: 4rem;
  line-height: normal;
  text-transform: uppercase;
}

.sedan {
  background-color: #e28625;
  padding: 6rem;
}

.suv {
  background-color: #006971;
  padding: 6rem;
  border: 1px solid #006971;
  border-radius: 8px 8px 0 0;
  margin-top: -0.8rem;
}

.lux {
  background-color: #004140;
  padding: 6rem;
  margin-top: -0.8rem;
  border: 1px solid #004140;
  border-radius: 8px;
  border-collapse: collapse;
}

.action-info {
  display: inline-block;
  border: 2px solid #f2f2f2;
  border-radius: 50px;
  padding: 1.1rem 4rem;
  margin-top: 1rem;
  background-color: #f2f2f2;
}

.sedan .action-info {
  color: #e28625;
  font-weight: bold;
}

.suv .action-info {
  color: #006971;
  font-weight: bold;
}

.lux .action-info {
  color: #004140;
  font-weight: bold;
}

.sedan .action-info:hover {
  color: #f2f2f2;
  background-color: #e28625;
  font-weight: bold;
  transition: 200ms;
}

.suv .action-info:hover {
  color: #f2f2f2;
  background-color: #006971;
  font-weight: bold;
  transition: 200ms;
}

.lux .action-info:hover {
  color: #f2f2f2;
  background-color: #004140;
  font-weight: bold;
  transition: 200ms;
}

@media screen and (min-width: 1317px) {
  :root {
    max-width: 1440px;
    margin: 0 auto;
  }
  .container {
    margin: 0 auto;
    flex-direction: row;
    margin-top: 10%;
    max-width: 67%;
  }

  .action-info {
    margin-top: 8rem;
  }

  .lux {
    border-bottom-left-radius: 0;
  }
}
