:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 8rem 2.5rem;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 32rem;
  color: #f2f2f2;
  font-family: "Lexend Deca";
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 3rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  overflow: hidden;
}

.container > * {
  padding: 4.75rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.container h1 {
  font-family: "Big Shoulders Display";
  font-size: 4rem;
  line-height: normal;
  text-transform: uppercase;
}

.sedan {
  background-color: #e28625;
}

.suv {
  background-color: #006971;
  border: 1px solid #006971;
  border-radius: 8px 8px 0 0;
  margin-top: -0.8rem;
}

.lux {
  background-color: #004140;
  margin-top: -0.8rem;
  border: 1px solid #004140;
  border-radius: 8px;
  border-collapse: collapse;
}

.action-info {
  display: inline-block;
  border: 2px solid #f2f2f2;
  border-radius: 50px;
  padding: 1.1rem 4rem;
  margin-top: 1rem;
  background-color: #f2f2f2;
  font-weight: bold;
}

.sedan .action-info {
  color: #e28625;
}

.suv .action-info {
  color: #006971;
}

.lux .action-info {
  color: #004140;
}

.sedan .action-info:hover {
  background-color: #e28625;
}

.suv .action-info:hover {
  background-color: #006971;
}

.lux .action-info:hover {
  background-color: #004140;
}

.sedan .action-info:hover,
.suv .action-info:hover,
.lux .action-info:hover {
  color: #f2f2f2;
  font-weight: bold;
  transition: 200ms;
}

@media screen and (min-width: 1024px) {
  body {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    flex-direction: row;
    max-width: 92rem;
    max-height: 50rem;
  }

  .action-info {
    margin-top: 8rem;
  }

  .lux {
    border-bottom-left-radius: 0;
  }
}
